@import '../../styles/variables';

.content {
  margin-top: 40px
}

.navigationContainer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .navigationLeftContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .navigationRightContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .link {
    @include shadowBox;
    padding: 0 50px;
    height: 120px;
    line-height: 120px;
    background: #D0D0D0;
    font-size: 70px;
    text-decoration: none;
    transition: background 0.3s;
    text-align: center;
    letter-spacing: -1px;
    @media (hover: hover) {
      &:hover {
        background: #D0D0D0;
      }
    }
  }

  .logo {
    border-radius: 10px;
    display: flex;
    align-items: center;
    svg {
      width: 350px;
    }
  }
  .link1 {
    border-radius: 60px;
    background: #F1E34C
  }
  .link2 {
    border-radius: 10px;
    background: #ED8F7B
  }
  .link3 {
    border-radius: 60px;
    background: #2B57FF
  }
  .link4 {
    border-radius: 10px;
  }
  .language{
    padding: 0;
    border-radius: 60px;
    width: 140px;
  }
}




.footerContainer {
  margin: auto 30px 0;
  border-top: 1px black solid;
  padding: 20px 0 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  @include mono;

  .leftContainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    .socials {
      display: flex;
      gap: 10px;
      a {
        @include shadowBox;
        border-radius: 25px;
        text-decoration: none;
        display: block;
        background: white;
        height: 80px;
        width: 50px;
        line-height: 80px;
        text-align: center;
      }
    }
    .telMail{
      @include shadowBox;
      border-radius: 25px;
      text-decoration: underline;
      background: white;
      padding: 20px 30px;
      text-align: center;
    }
  }

  .rightContainer {
    display: flex;
    gap: 50px;
    .logos {
      display: flex;
      gap: 5px;
    }
  }
}
