@import '../../styles/variables';

.loadingContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: opacityLoading  0.3s forwards;
  animation-delay: 0.3s;


  //mix-blend-mode: difference;

  .loading {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    //border: 1px black solid;
    animation: rotate 2s infinite linear;

  }
}




@keyframes opacityLoading {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes rotate {
  0% {transform: rotate(0)}
  100%  {transform: rotate(360deg)}
}


