@import '../../styles/variables';

.content {
  margin-top: 40px
}

.navigationContainer {
  padding: 30px 30px 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.siteNavigation {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;

  .inner {
    display: flex;
    gap: 10px;
  }

  .link {
    @include bigLink;
    @media (hover: hover) {
      &:hover {
        background: #D0D0D0;
      }
    }
  }
  .logo {
    border-radius: 10px;
    display: flex;
    align-items: center;
    svg {
      width: 350px;
    }
  }
  .link1 {
    border-radius: 60px;
    background: #F1E34C;
  }
  .link2 {
    border-radius: 10px;
    background: #ED8F7B
  }
  .link3 {
    border-radius: 60px;
    background: #2B57FF;
  }

  @media (max-width: 1000px) {
    .link1, .link2, .link3 {
      display: none;
    }
  }
}

.smallLinks {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100px;
  justify-content: stretch;
  flex: 0 0 130px;

  .smallLink {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    @include shadowBox;
    border-radius: 50px;
    flex: 1 1 auto;

    p{
      text-align: center;
      @include mono;
    }
  }
}


.coverContainer {
  padding: 0 30px;

  .cover {
    flex: 1 1 auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    max-height: calc(100vh - 200px);
    max-width: 900px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  .cover::after {
    position: absolute;
    content: '';
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include shadowBox;
  }
}


