@import '../../styles/variables';

.content {
  animation: appear 0.7s forwards cubic-bezier(.27,.64,.67,.98);
  transform: translateY(30px);
}

@keyframes appear {
  0%   {
    transform: translateY(30px);
  }
  100%   {
    transform: translateY(0%);
  }
}

.navWithCover {
  height: calc(100vh - 245px);
  min-height: 400px;
}

.navWrapper {
  position: relative;


  nav {
    @include margin;
    position: relative;
    z-index: 100;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $breakpoint-sm-max) {
      gap: 6px;
    }
  }

  .navLeft {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1 1 auto;
    @media (max-width: $breakpoint-md-max) {
      gap: 6px;
    }
  }

  .navRight {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 0 0 auto;
  }

  .link {
    @include menuLinkBig;
  }
  .logo {
    align-items: stretch;
    img {
      width: 6em;
    }
  }
  .link1 {
    border-radius: 60px;
    background: #E5FC54;
    animation-delay: 0.3s;
  }
  .link2 {
    background: #C294FF;
    animation-delay: 0.5s;
  }
  .link3 {
    border-radius: 60px;
    background: #32FE6B;
    animation-delay: 0.6s;
  }
  .smallLink {
    @include mono;

    background: $gray;
    text-decoration: none;
    border-radius: 30px;
    width: 40px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;

    &.language{
      height: 40px;
      transition: 0.2s;
      @media (hover: hover) {
        &:hover {
          transform: rotate(90deg);
        }
      }
    }
    &.tickets{
      writing-mode: vertical-rl;
      text-orientation: mixed;
      padding: 18px 0;
      background-image: linear-gradient(0deg, $gray 25%, #E5FC54 45%, $gray 75%);
      animation: linkAnimation 6s linear infinite;
      background-size: 100% 200%;
      @media (hover: hover) {
        &:hover {
          @include underline
        }
      }
    }
    &.socials {
      height: 40px;
      transition: 0.2s;
      @media (hover: hover) {
        &:hover {
          @include underline
        }
      }
    }
  }
}

@keyframes linkAnimation {
  0% {
    background-position-y: -50%;
  }
  50% {
    background-position-y: 150%;
  }
  100% {
    background-position-y: 150%;
  }
}

.link1 {
  border-radius: 60px;
  background: #E5FC54;
  animation-delay: 0.3s;
}
.link2 {
  background: #C294FF;
  animation-delay: 0.5s;
}
.link3 {
  border-radius: 60px;
  background: #32FE6B;
  animation-delay: 0.6s;
}

.coverContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: $breakpoint-sm-max) {
    margin-top: 6px;
    margin-right: 0;
    gap: 10px;
  }
  .cover {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100%;
    background: #E5FC54;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute;
    }
  }
  .cover::after {
    position: absolute;
    content: '';
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 0.7) 20%, rgba(248, 248, 248, 0) 40%, rgba(248, 248, 248, 0) 30%, rgba(248, 248, 248, 0.5) 100%);
  }

  .description {
    @include mono;
    @include marginHorizontal;
    flex: 0 1 auto;
  }
}

