@import '_variables.scss';

.aboutContainer {
  padding: 30px;
  max-width: 1000px;
  min-height: 300px;
  h1 {
    @include headline
  }
  .aboutParagraph {
    margin: 40px 0;
    column-count: 2;
    column-gap: 10px;
    orphans: 2;
    p {
      @include mono;
    }
  }
}