@import '_variables.scss';

.contactContainer {
  @include margin;

  max-width: 1000px;
  min-height: 300px;
  h1, h2 {
    @include headline
  }
  h3, p {
    @include mono
  }

  .addressContainer {
    @include marginVertical;
    display: flex;
    flex-direction: column;
    gap: 40px;
    p {
      @include mono;
    }
    h2 {
      @include mono;
      text-transform: uppercase;
      margin: 0 0 1rem;
    }
    @media (max-width: $breakpoint-xs-max) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}

