@import '_variables.scss';

.contactContainer {
  @include margin;

  max-width: 1000px;
  min-height: 300px;
  h1, h2 {
    @include headline
  }
  h3, p {
    @include mono
  }

  .addressContainer {
    @include marginVertical;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    p {
      @include mono;
    }
    @media (max-width: $breakpoint-xs-max) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}

