@import '_variables.scss';

:root {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: neue-haas-unica, 'Helvetica', 'Arial', sans-serif;

  font-size: 15px;
  text-rendering: optimizeLegibility;
  line-height: 1.38;
  color: black;
  background: $gray;
}



html,
body {
  max-width: 100vw;
  width: 100vw;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  -webkit-overflow-scrolling: touch;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100vw;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
}

a {
  color: black;
  @include underline;
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0
}


button {
  color: black;
}