@import '_variables.scss';

.homepageContainer {
  @include margin;
  min-height: 300px;
  h1 {
    @include headline;
    @include marginVertical;
    margin-top: 0;
  }
  .monthHeader{
    position: relative;
    padding: 2px 0 2px 22px;
    @include mono;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-transform: uppercase;
  }
  .monthHeader::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-color: #32FE6B;
    //background-color: #E5FC54;
    //background-color: black;
    border-radius: 50%;
  }
  ul {
    margin: 20px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  li{
    list-style: none;
    border-bottom: 1px black solid;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    &:last-of-type{
      border: none;
    }

    @media (max-width: $breakpoint-xs-max) {
      flex-direction: column;
    }
  }
}

.linkContainer {
  flex: 1 1 auto;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  text-decoration: none;

  .dateContainer{
    flex: 0 0 230px;
    @media (max-width: $breakpoint-md-max) {
      flex: 0 0 150px;
    }
    .date {
      @include headline2;
      margin-bottom: 8px;
      font-variant-numeric: lining-nums proportional-nums;

    }
    .time, .location {
      @include mono;
    }
  }
  .nameContainer{
    h2 {
      @include headline2;
      margin-bottom: 8px;
    }
    .description {
      @include mono;
      max-width: 500px;
    }
  }

  @media (hover: hover) {
    &:hover {
      @include underline;
    }
  }

  @media (max-width: $breakpoint-sm-max) {
    flex-direction: column;
    .dateContainer{
      flex: 0 0 auto;
    }
  }
}

.externalLinks {
  flex: 0 0 200px;
  justify-content: flex-end;
  display: flex;
  gap: 10px;

  @media (max-width: $breakpoint-xs-max) {
    justify-content: flex-start;
    flex: 0 0 auto;
  }

  .tickets, .fb {
    @include outlinedLink;

    align-self: flex-start;
    height: 40px;

    background-image: linear-gradient(90deg, $gray 25%, #E5FC54 50%, $gray 75%) !important;
    background-size: 300px 100%;

    background-position-x: -250px;

    @media (hover: hover) {
      &:hover {
        @include underline;
        background-position-x: 50px;
      }
    }
  }
  .tickets {
    transition: background-position 1s;
  }
  .fb {
    transition: background-position 2s;
  }
}

.programContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .scrollingPart {
    flex: 1 0 auto;
    max-width: 1000px;
    @media (max-width: $breakpoint-xl-max) {
      flex: 1 1 auto;
    }
  }
  .preview {
    flex: 1 1 auto;
    height: 400px;
    max-height: calc(100vh - 40px);
    position: sticky;
    top: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: #E5FC54;
    @media (max-width: $breakpoint-xl-max) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .preview::after {
    position: absolute;
    content: '';
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include shadowBox;
  }
}