@import '_variables.scss';

.homepageContainer {
  @include margin;
  h1 {
    @include headline;
    position: sticky;
  }
  ul {
    margin: 20px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  li{
    list-style: none;
    border-bottom: 1px black solid;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: $breakpoint-xs-max) {
      flex-direction: column;
    }
  }
}

.linkContainer {
  flex: 1 1 auto;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  text-decoration: none;

  .dateContainer{
    flex: 0 0 230px;
    @media (max-width: $breakpoint-md-max) {
      flex: 0 0 150px;
    }
    .date {
      @include headline;
      font-variant-numeric: lining-nums proportional-nums;

    }
    .time, .location {
      @include mono;
    }
  }
  .nameContainer{
    @media (min-width: $breakpoint-md-min) {
      flex: 0 1 600px;
    }
    h2 {
      @include headline;
    }
    .description {
      @include mono;
      max-width: 800px;
    }
  }

  @media (hover: hover) {
    &:hover {
      @include underline;
    }
  }

  @media (max-width: $breakpoint-sm-max) {
    flex-direction: column;
    .dateContainer{
      flex: 0 0 auto;
    }
  }
}

.externalLinks {
  flex: 0 0 500px;
  justify-content: flex-end;
  display: flex;
  gap: 10px;
  @media (max-width: $breakpoint-xl-max) {
    flex: 0 0 185px;
  }
  @media (max-width: $breakpoint-xs-max) {
    justify-content: flex-start;
    flex: 0 0 auto;
  }

  .tickets, .fb {
    @media (min-width: $breakpoint-xxl-min) {
      @include menuLinkBig
    }
    @media (max-width: $breakpoint-xl-max) {
      align-self: flex-start;
      @include outlinedLink;
      height: 40px;
    }
  }
}