@import '_variables.scss';

.homepageContainer {
  margin: 10vw 30px;
  h1 {
    @include headline;
    position: sticky;
  }
  ul {
    margin: 20px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  li{
    list-style: none;
    border-bottom: 1px black solid;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: $breakpoint-xs-max) {
      flex-direction: column;
    }
  }
}

.linkContainer {
  flex: 1 1 auto;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  text-decoration: none;

  .dateContainer{
    flex: 0 0 250px;
    .date {
      @include headline;
      font-variant-numeric: lining-nums proportional-nums;

    }
    .time, .location {
      @include mono;
    }
  }
  .nameContainer{
    flex: 1 0 auto;
    h2 {
      @include headline;
    }
    .description {
      @include mono;
      max-width: 800px;
    }
  }

  @media (hover: hover) {
    &:hover {
      @include underline;
    }
  }

  @media (max-width: $breakpoint-sm-max) {
    flex-direction: column;
    .dateContainer{
      flex: 0 0 auto;
    }
  }
}

.tickets {
  @media (min-width: $breakpoint-lg-min) {
    @include bigLink
  }
  @media (max-width: $breakpoint-md-max) {
    @include smallLink;
    align-self: flex-start;
    padding: 10px 20px;
  }

}