@import '_variables.scss';

.projectsContainer {
  @include margin;
  max-width: 1000px;
  min-height: 300px;
  h1 {
    @include headline
  }
  .filterContainer{
    padding: 0;
    @include marginVertical;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    button {
      padding: 15px;
      @include mono;
      border: 1px $gray solid;
      border-bottom: 1px black solid;
      background: none;
      cursor: pointer;
      &.selected{
        border: 1px black solid;
      }
      @media (max-width: $breakpoint-xs-max) {
        padding: 5px 6px;
        letter-spacing: -0.2px;
      }
    }

  }
  .projectsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;
    padding: 0;
    margin: 0;
    @media (max-width: $breakpoint-xs-max) {
      grid-template-columns: 1fr;
    }

    li {
      list-style: none;
      a {
        text-decoration: none;

        @media (hover: hover) {
          &:hover {
            @include underline;
          }
        }
      }


      h2 {
        @include headline3;
        margin: 10px 0 5px;
      }
      p {
        @include mono;
        max-width: 400px;
      }
      .cover {
        flex: 1 1 auto;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        height: 300px;
        background: darkgrey;
        transition: background 0.3s ease-in-out;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
          filter: grayscale(100%) contrast(110%);
        }

        @media (hover: hover) {
          &:hover {
            img {
                transform: scale(1.03);
              filter: grayscale(0%) contrast(100%);
            }
            background: #E5FC54;
          }
        }
      }
      .cover::after {
        position: absolute;
        content: '';
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include shadowBox;
      }
    }
  }
}