@import '_variables.scss';

.projectContainer {
  @include margin;
  max-width: 1000px;
  min-height: 300px;
  h1 {
    @include headline
  }
  .projectDetail {
    @include marginVertical;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media (max-width: $breakpoint-xs-max) {
      grid-template-columns: 1fr;
    }

    .team {
      @include mono;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .role {
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }
      .name {
        letter-spacing: 1px;
      }
    }
    .program {
      @include mono;
      margin-bottom: 40px;
    }
    .abstract {
      @include mono;
    }
  }
}

.galleryContainer{

  overflow: hidden;
  .swiperSlide {
    position: relative;
  }
  img {
    position: relative;
    border-radius: 10px;
  }
}

.galleryContainer > div {
  width: 100%;
  @include paddingHorizontal;
}